// Navigation code here

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #DDDDDD;
    padding-bottom: 1%;
}

h1 {
    width: 100%;
    margin: 1.5% 0 2% 32%;
    .header-font (3.6rem);

}

nav a {
    width: 100%;
    .p-font ('Ubuntu'; 1.6rem; 1.4;)
    text-decoration: none;
    color: black;
    padding: 10px;
}